<div class="col-md-6">
  <h2 class="text-center">Product detail</h2>
  <form [formGroup]="detailForm">
    
    <div class="form-group">
      <label for="id">ID:</label>
      <input formControlName="id" placeholder="id" name="id" class="form-control" id="id" readonly>
    </div>

    <div class="form-group">
      <label for="name">Name:</label>
      <input formControlName="name" placeholder="name" name="name" class="form-control" id="name" readonly>
      
      <label for="description">Description:</label>
      <input formControlName="description" placeholder="description" name="description" class="form-control" id="description" readonly>

      <label for="price">Price:</label>
      <input formControlName="price" placeholder="price" name="price" class="form-control" id="price" readonly>

      <label for="quantity">Amount:</label>
      <input formControlName="quantity" placeholder="quantity" name="quantity" class="form-control" id="quantity" readonly>

      <label for="thumbnail">Image:</label>
      <input formControlName="thumbnail" placeholder="thumbnail" name="thumbnail" class="form-control" id="thumbnail" readonly>

      <label for="category">Category:</label>
      <input placeholder="category" name="category" class="form-control" id="category" value="{{category.name}}" readonly>
    
      <label for="supplier">Supplier:</label>
      <input placeholder="supplier" name="supplier" class="form-control" id="supplier" value="{{supplier.name}}" readonly>
      
      <label for="valid">Status:</label>
      <select formControlName="valid" placeholder="valid" name="valid" class="form-control" id="valid" disabled>
          <option value="true">Available</option>
          <option value="false">Disable</option>
        </select>

      <label for="modify">Modify:</label>
      <input formControlName="modify" placeholder="modify" name="modify" class="form-control" id="modify" readonly>
   
    </div>
    <a class="btn btn-danger" href="../product/index"> Product list</a>
  </form>
</div>
