<div class="col-md-6">
    <h2 class="text-center">Create category</h2>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">    
      <div class="form-group">
        <label for="name">Name:</label>
        <input formControlName="name" placeholder="name" name="name" class="form-control" id="name">
        <label for="valid">Status:</label>
        <select formControlName="valid" placeholder="valid" name="valid" class="form-control" id="valid">
          <option value="true">Available</option>
          <option value="false">Disable</option>
        </select>
      </div>
      <button class="btn btn-success">Create</button>
      <a class="btn btn-danger" href="../category/index"> Category list</a>
    </form>
    
</div>
  


